.coverage
*/*/terraform.tfstate
*/htmlcov/*
*/terraform.tfstate
*/.terraform.lock.hcl
*/*/terraform.tfstate.backup
*/terraform.tfstate.backup
*/.terraform*
*/*/.terraform*
*/.terraform/*
*/*/.terraform/*
*/.DS_Store
.DS_Store
*.pyc
*/__pycache__/*
.mypy_cache
.pytest_cache
.tox
.ruff_cache
my_config.yaml
