annotated-types==0.7.0
boto3-stubs[organizations]==1.35.84
cachetools==6.1.0
cfgv==3.4.0
chardet==5.2.0
colorama==0.4.6
distlib==0.3.9
filelock==3.18.0
identify==2.6.12
nodeenv==1.9.1
packaging==25.0
platformdirs==4.3.8
pluggy==1.6.0
pre_commit==4.2.0
pydantic==2.11.7
pydantic_core==2.33.2
pyproject-api==1.9.1
PyYAML==6.0.2
tox==4.27.0
typing-inspection==0.4.1
typing_extensions==4.14.0
virtualenv==20.31.2
